
/*
Author : Prizam Sarkhi
Date : 19/07/2023 @ 20:15

CSS code for form
*/
th{
    font-size: 18px;
}
.btn-1{
    width: 80px;
    height: 27px;
    font-size: 15px;
    

}
html{
    zoom: 125%;
}